:root {
	--font-body: "Acumin Variable";
	--font-heading: "Barlow";
}

@font-face {
	font-family: "Acumin Variable";
	src: url("/assets/fonts/acumin-variable-concept.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading, ui-sans-serif), system-ui, sans-serif;
}

section .astro-tweet-theme {
	--tweet-body-font-size: 0.875rem;
	--tweet-container-margin: 0;
	--tweet-font-family: system-ui, sans-serif;

	overflow-y: auto;
	max-height: 17.25rem;
}

:focus {
	outline-color: transparent;
}

:focus-visible {
	outline: 2px solid theme("colors.granite");
	outline-offset: 2px;
}
