---
import { Image } from "astro:assets";

import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { getImageImport } from "@/lib/get-image-import";
import { createCollectionResource } from "@/lib/keystatic/resources";

export async function getStaticPaths() {
	const pages = await createCollectionResource("news", locale).all();

	return pages.map((page) => {
		return {
			params: { id: page.id },
			props: { page },
		};
	});
}

const { page } = Astro.props;

const { bannerImage, content, image, title } = page.data;
const documentTitle = title;
const { default: Content } = await page.compile(content);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<div class="relative h-56">
			<Image
				alt=""
				class="absolute inset-0 size-full object-cover"
				loading="eager"
				src={getImageImport(bannerImage ?? image)}
			/>
		</div>
		<PageSection class="my-4 md:my-12">
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
