---
import { Image } from "astro:assets";

import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createReader } from "@/lib/content/create-reader";
import { getMdxContent } from "@/lib/content/get-mdx-content";
import { getImageImport } from "@/lib/get-image-import";

export async function getStaticPaths() {
	const reader = createReader();
	const pages = await reader.collections.news.all();

	return pages.map((page) => {
		return {
			params: { id: page.slug },
			props: { page: page.entry },
		};
	});
}

const { page } = Astro.props;

const documentTitle = page.title;
const { title, image } = page;
const { default: Content } = await getMdxContent(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<div class="relative h-56">
			<Image
				alt=""
				class="absolute inset-0 size-full object-cover"
				loading="eager"
				src={getImageImport(image)}
			/>
		</div>
		<PageSection class="my-4 md:my-12">
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
