---
import { Image } from "astro:assets";

import Link from "@/components/link.astro";
import PageSection from "@/components/page-section.astro";
import eu from "~/public/assets/images/eu-funded.jpg";
---

<footer class="border-t">
	<slot />

	<div>
		<PageSection>
			<div class="flex flex-col gap-x-12 gap-y-8 py-8 md:flex-row">
				<div class="grid gap-y-2">
					<small class="text-sm">
						Funded by the European Union under Grant Agreement n. 101132163. Views and opinions
						expressed are however those of the author(s) only and do not necessarily reflect those
						of the European Union. Neither the European Union nor the granting authority can be held
						responsible for them.
					</small>
					<div class="text-sm">This work has received support from the EOSC EU Node.</div>
					<div class="text-sm">
						<Link class="underline" href="/imprint/">Privacy Policy and Terms of Use</Link>
					</div>
				</div>
				<div class="shrink-0">
					<span class="sr-only">Funded by the European Union</span>
					<Image alt="" class="h-16 w-auto" sizes="320px" src={eu} widths={[320]} />
				</div>
			</div>
		</PageSection>
	</div>
</footer>
